# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
out/
.next/
coverage/

# Database files
*.sqlite
*.db
*.mdb

# Cloudinary or uploads
uploads/
*.tmp

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
*.bak
*.swp
